@{
    ViewData["Title"] = "Movie List";
}

<h2>The Movie List</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto eveniet mollitia fugit quaerat ea exercitationem eaque omnis repellat, delectus possimus illum beatae quis voluptate ratione placeat nobis magni. Dignissimos, cumque?</p>
